<form class="filters" [formGroup]="filtersForm">
  <div
    class="filter-block"
    *ngFor="let filterOption of filterOptionNames"
    [formGroupName]="filterOption"
  >
    <div
      class="filter-block__trigger"
      (click)="setFilterBlockIsOpen(filterOption)"
    >
      <p>{{ filterOption }}</p>
      <mat-icon
        [@openClose]="filterBlockIsOpen(filterOption) ? 'open' : 'close'"
        >keyboard_arrow_down</mat-icon
      >
    </div>

    <div class="filter-options" *ngIf="filterBlockIsOpen(filterOption)" @fade>
      <div class="filter-option" *ngFor="let option of filters[filterOption]">
        <input
          type="checkbox"
          class="filter-option__input"
          id="{{ option }}"
          name="{{ option }}"
          [formControlName]="option"
        />
        <label class="filter-option__label" for="{{ option }}">{{
          option
        }}</label>
      </div>
    </div>
  </div>
</form>
