@import "../../../styles.scss";

.filters {
  position: fixed;
  overflow-y: scroll;
  padding: 2.2rem 0 7rem 0;
  background-color: $color-white;
  z-index: 20;
  width: 25rem;
  height: 100vh;

  &::-webkit-scrollbar {
    width: 0.4rem;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparentize($color-gray, 0.5);
    border-radius: 0.5rem;
  }

  .filter-block {
    &__trigger {
      @include flex(0, row, space-between);
      cursor: pointer;
      margin-bottom: 1rem;
      color: darken($color-pink, 62%);
    }

    .filter-options {
      @include flex(1rem, column, flex-start, flex-start);
      font-size: 1.4rem;
      margin-bottom: 2rem;
    }

    .none {
      display: none;
    }
  }

  .filter-option {
    @include flex(0.6rem);

    &__input {
      cursor: pointer;
    }

    input[type="checkbox"] {
      @include flex;
      appearance: none;
      -webkit-appearance: none;
      height: 1.35rem;
      width: 1.35rem;
      border: 0.15rem solid $color-black;
      border-radius: 0.2rem;
      cursor: pointer;

      &::after {
        content: "\f00c";
        font-family: "Font Awesome 5 Free";
        font-weight: bold;
        font-size: 1rem;
        color: $color-dark-gray;
        display: none;
      }

      &:checked {
        background-color: $color-pink;
      }

      &:checked::after {
        display: block;
      }
    }

    &__label {
      cursor: pointer;
    }
  }
}

@media (max-width: 46rem) {
  .filters-visible {
    @include position(fixed, 6.3rem);
    display: block;
    padding-left: 1.2rem;
  }

  .filters-hidden {
    display: none;
  }
}
