<form
  class="filters"
  [ngClass]="{
    'filters-visible': filterbarIsShown,
    'filters-hidden': !filterbarIsShown
  }"
  [formGroup]="filtersForm"
>
  <div
    class="filter-block"
    *ngFor="let formGroup of formGroupNames"
    [formGroupName]="formGroup"
  >
    <div
      class="filter-block__trigger"
      (click)="setFilterBlockIsOpen(formGroup)"
    >
      <p>{{ formGroup | camelCaseToTitleCase }}</p>
      <mat-icon [@openClose]="filterBlockIsOpen(formGroup) ? 'open' : 'close'"
        >keyboard_arrow_down</mat-icon
      >
    </div>

    <div class="filter-options" *ngIf="filterBlockIsOpen(formGroup)" @fade>
      <div class="filter-option" *ngFor="let formControl of filters[formGroup]">
        <input
          (change)="onChange(formGroup, formControl)"
          type="checkbox"
          class="filter-option__input"
          id="{{ formControl }}"
          name="{{ formControl }}"
          [formControlName]="formControl"
        />
        <label class="filter-option__label" for="{{ formControl }}">{{
          formControl
        }}</label>
      </div>
    </div>
  </div>
</form>
