<section class="hero">
  <div class="hero__content">
    <h1 class="hero__heading">Find your dream job</h1>

    <div class="hero__search">
      <mat-icon class="hero__search-icon">search</mat-icon>

      <form
        [formGroup]="searchForm"
        class="hero__search-form"
        (submit)="onSubmit()"
      >
        <input
          type="text"
          class="hero__search-input"
          placeholder="Job title"
          formControlName="jobTitle"
        />
        <button class="btn btn--with-shadow" [disabled]="!searchForm.valid">
          Search
        </button>
      </form>
    </div>
  </div>

  <img
    class="hero__main-img"
    src="../../../assets/hero-img.png"
    alt="minimalist illustration of two businessmen shaking hands"
  />
</section>
