<section class="hero">
  <div class="hero__content">
    <h1 class="hero__heading">Find your dream job</h1>

    <div class="hero__search">
      <mat-icon class="hero__search-icon">search</mat-icon>

      <form class="hero__search-form">
        <input type="text" class="hero__search-input" placeholder="Job title" />
        <button class="btn btn--with-shadow">Search</button>
      </form>
    </div>
  </div>

  <img
    class="hero__main-img"
    src="../../../assets/hero-img.png"
    alt="minimalist illustration of two businessmen shaking hands"
  />
</section>
