@import "../utils/variables";
@import "../utils/helpers";

.btn {
  background-color: $color-black;
  text-align: center;
  outline: none;
  height: 100%;
  border: 0.2rem solid $color-black;
  border-bottom: none;
  border-top: none;
  cursor: pointer;
  color: $color-white;
  padding: 0 2.5rem;
  font-size: inherit;

  &:hover {
    background-color: $color-pink;
    color: $color-black;
  }
}

.btn--white {
  height: 100%;
  background-color: $color-white;
  color: $color-black;
  border-right: none;
}

.btn--with-shadow {
  border: none;
  padding: 1.4rem 2.4rem;
  border-radius: $border-radius-sm;
  transition: all 0.2s ease-in-out;
  color: $color-white;

  &:hover {
    transform: translate(-0.25rem, -0.25rem);
    box-shadow: 0.5rem 0.5rem 0 $color-pink;
    background-color: $color-black;
  }
}

.btn--submit {
  margin-top: 1rem;
  width: 100%;
}

.btn--disabled {
  background-color: $color-gray;
  color: $color-white;
  cursor: not-allowed;

  &:hover {
    background-color: $color-gray;
    color: $color-white;
    transform: none;
    box-shadow: none;
  }
}
