@import "../utils/mixins";

.form {
  border: $border-width-sm solid $color-black;
  border-radius: $border-radius-sm;
  padding: 4rem 3.5rem;
  width: 50rem;
  max-width: 100rem;

  @media (max-width: 35rem) {
    width: 100%;
    padding: 3rem 2rem;
  }

  .form-control {
    position: relative;
    &__input {
      width: 100%;
      margin-bottom: 2.5rem;
      padding: 1.3rem 0.5rem;
      border: 0.1rem solid $color-gray;
      border-radius: $border-radius-sm;

      &:focus {
        outline: none;
      }

      &.ng-touched.ng-invalid {
        border: 1px solid $color-red;

        &::placeholder {
          color: $color-red;
        }
      }
    }

    &__error {
      position: absolute;
      bottom: 1rem;
      z-index: 999;
      color: $color-red;
      font-size: 1.3rem;
    }
  }
}
