<app-flash-message
  [messageText]="authError"
  messageType="error"
  *ngIf="authError"
></app-flash-message>

<app-auth-form-container authHeading="Login">
  <form class="form" [formGroup]="loginForm" (submit)="onSubmit()">
    <app-input
      [form]="loginForm"
      formControlName="email"
      placeholder="Email"
      inputType="email"
    ></app-input>

    <app-input
      [form]="loginForm"
      formControlName="password"
      placeholder="Password"
      inputType="password"
    ></app-input>

    <button
      type="submit"
      class="btn btn--with-shadow btn--auth"
      [ngClass]="{ 'btn--disabled': !loginForm.valid || isLoading }"
    >
      Login
    </button>
  </form>
</app-auth-form-container>
