<div class="modal-overlay" *ngIf="modalIsOpen" (click)="closeModal()"></div>

<div class="confirmation-modal" *ngIf="modalIsOpen" (click)="closeModal()">
  <div class="confirmation-modal__content">
    <p class="confirmation-modal__text">
      Are you sure you want to delete this vacancy?
    </p>

    <div class="confirmation-modal__btns">
      <button class="btn btn--with-shadow" (click)="closeModal()">
        Cancel
      </button>
      <button class="btn btn--white-with-shadow" (click)="onDelete()">
        Delete
      </button>
    </div>
  </div>
</div>
