<section class="saved-vacancies">
  <div class="saved-vacancies__container">
    <h1 class="saved-vacancies__heading">Saved Vacancies</h1>

    <div
      *ngIf="savedVacancies.length == 0 && !isLoading"
      class="saved-vacancies__no-vacancies"
    >
      <span class="my-vacancies__no-vacancies_text">No vacancies.</span>
      <a
        routerLink="/vacancies"
        routerLinkActive="router-link-active"
        class="my-vacancies__no-vacancies-link"
        >Add</a
      >
    </div>

    <app-loading-spinner
      *ngIf="isLoading"
      class="my-vacancies__loading-spinner"
    ></app-loading-spinner>

    <div class="saved-vacancies__list" *ngIf="savedVacancies && !isLoading">
      <app-vacancy-card
        *ngFor="let vacancy of savedVacancies"
        [vacancy]="vacancy"
      ></app-vacancy-card>
    </div>
  </div>
</section>
