<section class="saved-vacancies">
  <app-flash-message
    [messageText]="error"
    messageType="error"
    *ngIf="error"
  ></app-flash-message>

  <div class="saved-vacancies__container">
    <h1 class="saved-vacancies__heading">Saved Vacancies</h1>

    <div
      *ngIf="savedVacancies.length === 0"
      class="saved-vacancies__no-vacancies"
    >
      <div class="saved-vacancies__no-vacancies-text">
        <span>No vacancies.</span>
        <a
          routerLink="/vacancies"
          routerLinkActive="router-link-active"
          class="saved-vacancies__no-vacancies-link"
          >Add</a
        >
      </div>

      <img
        class="saved-vacancies__img"
        src="../../../assets/girl-with-computer.png"
        alt="Girl typing on a laptop"
      />
    </div>

    <app-loading-spinner
      *ngIf="isLoading"
      class="saved-vacancies__loading-spinner"
    ></app-loading-spinner>

    <div class="saved-vacancies__list" *ngIf="savedVacancies && !isLoading">
      <app-vacancy-card
        *ngFor="let vacancy of savedVacancies"
        [vacancy]="vacancy"
      ></app-vacancy-card>
    </div>
  </div>
</section>
