<a [routerLink]="['/vacancies', vacancy.id]" class="vacancy__link">
  <div class="vacancy">
    <h3 class="vacancy__title">{{ vacancy.jobTitle }}</h3>
    <mat-icon
      class="bookmark-icon"
      *ngIf="!savedVacancyWithSameId"
      (click)="addOrRemoveFromSavedVacancies($event)"
      >bookmark_border</mat-icon
    >
    <mat-icon
      class="bookmark-icon"
      *ngIf="savedVacancyWithSameId"
      (click)="addOrRemoveFromSavedVacancies($event)"
      >bookmark</mat-icon
    >

    <div class="vacancy__info">
      <div class="vacancy__location-company">
        <p class="vacancy__company-name">{{ vacancy.companyName }}</p>
        <p class="vacancy__location">
          <mat-icon>location_on</mat-icon>
          <span>{{ vacancy.city }}</span>
        </p>
      </div>

      <span class="vacancy__publish-date">{{ vacancy.createdAt | date }}</span>
    </div>

    <div
      class="vacancy__manage-btns"
      *ngIf="userRole === 'admin' && isOnVacanciesPage"
    >
      <button
        class="btn btn--with-shadow"
        *ngIf="vacancy.status === 'pending'"
        (click)="approveVacancy($event)"
      >
        Approve
      </button>
      <button
        class="btn btn--white-with-shadow"
        (click)="onDeleteBtnClick($event)"
      >
        Delete
      </button>
    </div>
  </div>
</a>

<app-confirmation-modal
  [vacancyId]="vacancy.id"
  [modalIsOpen]="modalIsOpen"
  (modalClosed)="setModalIsOpen(false)"
></app-confirmation-modal>
