@use "../../../styles.scss" as *;

.vacancy {
  width: 100%;
  padding: 3rem;
  border-radius: $border-radius-sm;
  box-shadow: 0 0 0.3rem 0.1rem lighten($color-dark-gray, 75%);
  cursor: pointer;
  transition: box-shadow 0.2s ease-in-out;

  &:hover {
    box-shadow: 0 0 2.5rem 0.1rem lighten($color-dark-gray, 75%);
  }

  &__title {
    font-size: 2rem;
    padding-bottom: 2rem;
    border-bottom: $border-width-sm solid lighten($color-blue, 30%);
  }

  &__info {
    @include flex(0, row, space-between, flex-start);
    margin-top: 2rem;
  }

  &__location-company {
    @include flex(1rem, column, flex-start, flex-start);
  }

  &__location {
    @include flex;
    transform: translateX(-0.6rem);
    color: lighten($color-dark-gray, 30%);
  }

  &__publish-date {
    color: lighten($color-dark-gray, 20%);
  }
}
