@use "../../../styles.scss" as *;

.vacancy {
  width: 100%;
  padding: 3rem;
  border-radius: $border-radius-sm;
  cursor: pointer;
  border: $border-width-sm solid $color-black;
  transition: all 0.2s ease-in-out;

  &:hover {
    transform: translate(-0.25rem, -0.25rem);
    box-shadow: 0.5rem 0.5rem 0 $color-black;
    border: $border-width-sm solid $color-black;
  }

  &__title {
    font-size: 2rem;
    padding-bottom: 2rem;
    border-bottom: $border-width-sm solid lighten($color-blue, 30%);
  }

  &__info {
    @include flex(0, row, space-between, flex-start);
    margin-top: 2rem;
  }

  &__location-company {
    @include flex(1rem, column, flex-start, flex-start);
  }

  &__location {
    @include flex;
    transform: translateX(-0.6rem);
    color: lighten($color-dark-gray, 30%);
  }

  &__publish-date {
    color: lighten($color-dark-gray, 20%);
  }
}
