@import "../../../styles.scss";

.auth {
  min-height: calc(100vh - 6.3rem);

  &__container {
    @include flex(3rem, column);
    padding-top: 5rem;

    @media (max-width: 35rem) {
      padding-top: 3rem;
    }
  }

  &__heading {
    font-size: 3rem;
  }
}
