<div class="overlay" (click)="setSidebarIsHidden()"></div>

<div class="sidebar" @slide>
  <div class="sidebar__close-icon" (click)="setSidebarIsHidden()">
    <mat-icon>close</mat-icon>
  </div>

  <ul class="sidebar__list">
    <li class="sidebar__list-item" (click)="setSidebarIsHidden()">
      <a
        class="sidebar__list-item__link"
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Home</a
      >
    </li>

    <li class="sidebar__list-item" (click)="setSidebarIsHidden()">
      <a
        class="sidebar__list-item__link"
        routerLink="/vacancies"
        routerLinkActive="active"
        >Vacancies</a
      >
    </li>
  </ul>

  <a
    class="sidebar__login"
    routerLink="/auth/login"
    (click)="setSidebarIsHidden()"
  >
    <mat-icon>login</mat-icon>
    <span>Login</span>
  </a>
</div>
