@use "../../../styles.scss" as *;

.overlay {
  width: 100vw;
  height: 100vh;
  background-color: darken($color-dark-gray, 60%);
  opacity: 0.6;
  z-index: 10;

  @include position();

  @media (min-width: 47rem) {
    display: none;
  }
}

.sidebar {
  z-index: 9999;
  background-color: $color-black;
  color: $color-white;
  font-size: 2rem;
  height: 100vh;
  width: 28rem;
  padding: 8rem 0 3rem 0;
  @include flex(0, column, space-between, start);
  @include position(fixed);

  &__list {
    width: 100%;
    list-style: none;
    @include flex(0, column, center, start);
  }

  &__list-item {
    width: 100%;
    padding: 2rem 4rem;
    @include flex(1.5rem, row, start);
    transition: all 0.2s ease-in-out;

    &:hover {
      background-color: $color-pink;
      color: $color-black;
    }
  }

  &__close-icon {
    transform: scale(1.5);
    @include position(absolute, 2.8rem, 3rem);
  }

  &__login {
    padding: 1.5rem 3rem 0 3rem;
    width: 100%;
    border-top: 0.15rem solid $color-white;
    @include flex(1rem, row, start);

    &:hover {
      color: $color-pink;
    }
  }

  @media (min-width: 47rem) {
    display: none;
  }
}
