<div class="overlay" (click)="setSidebarIsHidden()"></div>

<div class="sidebar">
  <div class="sidebar__close-icon" (click)="setSidebarIsHidden()">
    <mat-icon>close</mat-icon>
  </div>

  <ul class="sidebar__list">
    <li class="sidebar__list-item">
      <mat-icon>home</mat-icon>
      <span>მთავარი</span>
    </li>

    <li class="sidebar__list-item">
      <mat-icon>work</mat-icon>
      <span>კომპანიები</span>
    </li>

    <li class="sidebar__list-item">
      <mat-icon>monetization_on</mat-icon>
      <span>ვაკანსიები</span>
    </li>
  </ul>

  <div class="sidebar__auth">
    <mat-icon>input</mat-icon>
    <span>შესვლა</span>
  </div>
</div>
