<app-form-container authHeading="Add vacancy">
  <form class="form" [formGroup]="addVacancyForm" (submit)="onSubmit()">
    <div class="form-control__group">
      <app-input
        [form]="addVacancyForm"
        formControlName="jobTitle"
        placeholder="Job title"
        class="form__input"
      ></app-input>

      <app-input
        [form]="addVacancyForm"
        formControlName="companyName"
        placeholder="Company name"
        class="form__input"
      ></app-input>
    </div>

    <textarea
      type="text"
      id="job-description"
      placeholder="Job Description"
      class="form-control__input form-control__input--textarea"
    ></textarea>

    <input
      type="number"
      id="salary"
      placeholder="Salary"
      class="form-control__input"
    />

    <div class="form-control__selector-row">
      <app-select
        class="form-control__selector"
        selectorName="Category"
        controlName="category"
        [selectorOptions]="options['Category']"
        [form]="addVacancyForm"
      ></app-select>

      <app-select
        class="form-control__selector"
        selectorName="Working type"
        controlName="workingType"
        [selectorOptions]="options['Working type']"
        [form]="addVacancyForm"
      ></app-select>
    </div>

    <div class="form-control__selector-row">
      <app-select
        class="form-control__selector"
        controlName="employementType"
        selectorName="Employement type"
        [selectorOptions]="options['Employement type']"
        [form]="addVacancyForm"
      ></app-select>

      <app-select
        class="form-control__selector"
        controlName="experience"
        selectorName="Experience"
        [selectorOptions]="options['Experience']"
        [form]="addVacancyForm"
      ></app-select>
    </div>

    <app-select
      controlName="city"
      selectorName="City"
      [selectorOptions]="options['City']"
      [form]="addVacancyForm"
    ></app-select>

    <button
      type="submit"
      class="btn btn--with-shadow btn--submit"
      [ngClass]="{ 'btn--disabled': !addVacancyForm.valid }"
    >
      Add
    </button>
  </form>
</app-form-container>
