<app-form-container authHeading="Add vacancy">
  <form class="form">
    <div class="form-control__group">
      <input
        type="text"
        id="job-title"
        placeholder="Job Title"
        class="form-control__input"
      />

      <input
        type="text"
        id="company-name"
        placeholder="Company Name"
        class="form-control__input"
      />
    </div>

    <textarea
      type="text"
      id="job-description"
      placeholder="Job Description"
      class="form-control__input form-control__input--textarea"
    ></textarea>

    <input
      type="number"
      id="salary"
      placeholder="Salary"
      class="form-control__input"
    />

    <div class="form-control__selector-row">
      <app-select
        class="form-control__selector"
        selectorName="Category"
        [selectorOptions]="categories"
      ></app-select>

      <app-select
        class="form-control__selector"
        selectorName="Working type"
        [selectorOptions]="categories"
      ></app-select>
    </div>

    <div class="form-control__selector-row">
      <app-select
        class="form-control__selector"
        selectorName="Employement type"
        [selectorOptions]="categories"
      ></app-select>

      <app-select
        class="form-control__selector"
        selectorName="Experience"
        [selectorOptions]="categories"
      ></app-select>
    </div>

    <app-select selectorName="City" [selectorOptions]="categories"></app-select>

    <button class="btn btn--with-shadow btn--submit">Add</button>
  </form>
</app-form-container>
