<nav class="nav">
  <div class="nav__menu-icon" (click)="setSidebarIsShown()">
    <mat-icon onclick="()=>console.log('hi')">menu</mat-icon>
  </div>

  <ul class="nav__list">
    <li>
      <a
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="nav__list__item"
        >Home</a
      >
    </li>

    <li>
      <a
        routerLink="/vacancies"
        routerLinkActive="active"
        class="nav__list__item"
        >Vacancies</a
      >
    </li>
  </ul>

  <div class="nav__auth">
    <button class="btn btn--white">Login</button>
    <button class="btn btn--signup">Sign Up</button>
  </div>
</nav>
