<nav class="nav">
  <div class="nav__menu-icon" (click)="setSidebarIsShown()">
    <mat-icon onclick="()=>console.log('hi')">menu</mat-icon>
  </div>

  <ul class="nav__list">
    <li>
      <a
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="nav__list-item"
        >Home</a
      >
    </li>

    <li>
      <a
        routerLink="/vacancies"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="nav__list-item"
        >Vacancies</a
      >
    </li>

    <li>
      <a
        routerLink="/vacancies/add"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="nav__list-item"
        >Add vacancy</a
      >
    </li>
  </ul>

  <div class="nav__auth">
    <a routerLink="/auth/login" class="nav__auth-link" *ngIf="!currentUser">
      <button class="btn btn--white">Login</button>
    </a>

    <a routerLink="/auth/signup" class="nav__auth-link" *ngIf="!currentUser">
      <button class="btn btn--signup">Sign Up</button>
    </a>

    <button class="btn btn--white" *ngIf="currentUser" (click)="logOut()">
      Log Out
    </button>
  </div>
</nav>
