@use "../../../styles.scss" as *;

.nav {
  border-bottom: $border-width-sm solid $color-black;
  font-size: 1.8rem;
  padding-left: 3rem;
  z-index: 10;
  width: 100%;
  background-color: $color-white;
  @include position(fixed);
  @include flex(0, row, space-between);

  &__list {
    list-style: none;
    @include flex(4rem);

    @media (max-width: 47rem) {
      display: none;
    }
  }

  &__list-item {
    cursor: pointer;
    text-decoration: none;
    color: inherit;

    &:hover {
      border-bottom: $border-width-sm solid $color-black;
    }
  }

  &__menu-icon {
    display: none;
    transform: scale(1.5);

    @media (max-width: 47rem) {
      display: block;
    }
  }

  .btn--signup {
    @media (max-width: 25rem) {
      display: none;
    }
  }

  .active {
    border-bottom: $border-width-sm solid $color-black;
  }
}
