@import "../../../styles.scss";

.nav {
  @include position(fixed);
  @include flex(0, row, space-between);
  border-bottom: $border-width-sm solid $color-black;
  font-size: 1.8rem;
  padding-left: 3rem;
  z-index: 10;
  width: 100%;
  background-color: $color-white;

  &__list {
    @include flex(4rem);
    list-style: none;

    @media (max-width: 47rem) {
      display: none;
    }
  }

  &__list-item {
    @extend %link-default;

    &:hover {
      border-bottom: $border-width-sm solid $color-black;
    }
  }

  &__menu-icon {
    display: none;
    transform: scale(1.5);

    @media (max-width: 47rem) {
      display: block;
    }
  }

  .btn--signup {
    @media (max-width: 25rem) {
      display: none;
    }
  }

  .active {
    border-bottom: $border-width-sm solid $color-black;
  }
}
