@use "../../../styles.scss" as *;

.nav {
  border-bottom: $border-width-sm solid $color-black;
  font-size: 1.7rem;
  padding-left: 3rem;
  @include flex(0, row, space-between);

  &__list {
    list-style: none;
    @include flex(4rem);

    @media (max-width: 47rem) {
      display: none;
    }
  }

  &__list-item {
    cursor: pointer;

    &:hover {
      border-bottom: $border-width-sm solid $color-black;
    }
  }

  .btn--signup {
    @media (max-width: 25rem) {
      display: none;
    }
  }

  &__menu-icon {
    display: none;
    font-size: 3rem;

    @media (max-width: 47rem) {
      display: block;
    }
  }
}
