<div class="filter-block">
  <div class="filter-block__trigger" (click)="toggleDropdownBlock()">
    <p>{{ filterType }}</p>
    <mat-icon [@openClose]="dropdownBlockIsShown ? 'open' : 'close'"
      >keyboard_arrow_down</mat-icon
    >
  </div>

  <div class="filter-options" *ngIf="dropdownBlockIsShown" @fade>
    <app-vacancies-filter-option
      *ngFor="let option of filterOptions"
      [optionTitle]="option.optionName"
      [optionIdentifier]="option.optionIdentifier"
    ></app-vacancies-filter-option>
  </div>
</div>
