@import "../../../../styles.scss";

.filter-block {
  &__trigger {
    @include flex(0, row, space-between);
    cursor: pointer;
    margin-bottom: 1rem;
    color: darken($color-pink, 62%);
  }

  .filter-options {
    @include flex(1rem, column, flex-start, flex-start);
    font-size: 1.4rem;
    margin-bottom: 2rem;
  }

  .none {
    display: none;
  }
}
