<app-flash-message
  [messageText]="authError"
  messageType="error"
  *ngIf="authError"
></app-flash-message>

<app-auth-form-container authHeading="Sign Up">
  <form class="form" [formGroup]="signupForm" (submit)="onSubmit()">
    <div class="form-control">
      <input
        type="text"
        id="firstName"
        placeholder="First Name"
        class="form-control__input"
        formControlName="firstName"
      />
      <div
        *ngIf="isInvalidAndTouched('firstName', signupForm)"
        class="form-control__error"
      >
        <p *ngIf="hasError('firstName', signupForm)">
          {{ errorMessage("firstName", signupForm) }}
        </p>
      </div>
    </div>

    <div class="form-control">
      <input
        type="text"
        id="lastName"
        placeholder="Last Name"
        class="form-control__input"
        formControlName="lastName"
      />
      <div
        *ngIf="isInvalidAndTouched('lastName', signupForm)"
        class="form-control__error"
      >
        <p *ngIf="hasError('lastName', signupForm)">
          {{ errorMessage("lastName", signupForm) }}
        </p>
      </div>
    </div>

    <div class="form-control">
      <input
        type="email"
        id="email"
        placeholder="Email"
        class="form-control__input"
        formControlName="email"
      />
      <div
        *ngIf="isInvalidAndTouched('email', signupForm)"
        class="form-control__error"
      >
        <p *ngIf="hasError('email', signupForm)">
          {{ errorMessage("email", signupForm) }}
        </p>
      </div>
    </div>

    <div class="form-control">
      <input
        type="password"
        id="password"
        placeholder="Password"
        class="form-control__input"
        formControlName="password"
      />
      <div
        *ngIf="isInvalidAndTouched('password', signupForm)"
        class="form-control__error"
      >
        <p *ngIf="hasError('password', signupForm)">
          {{ errorMessage("password", signupForm) }}
        </p>
      </div>
    </div>

    <div class="form-control">
      <input
        type="password"
        id="confirmPassword"
        placeholder="Confirm Password"
        class="form-control__input"
        formControlName="confirmPassword"
      />
      <div
        *ngIf="isInvalidAndTouched('confirmPassword', signupForm)"
        class="form-control__error"
      >
        <p *ngIf="hasError('confirmPassword', signupForm)">
          {{ errorMessage("confirmPassword", signupForm) }}
        </p>
      </div>
    </div>

    <button
      type="submit"
      class="btn btn--with-shadow btn--auth"
      [ngClass]="{ 'btn--disabled': !signupForm.valid || isLoading }"
    >
      Sign Up
    </button>
  </form>
</app-auth-form-container>
