<app-auth-form-container authHeading="Sign Up">
  <form class="form" [formGroup]="signupForm" (submit)="onSubmit()">
    <div class="form-control">
      <input
        type="text"
        id="firstName"
        placeholder="First Name"
        class="form-control__input"
        formControlName="firstName"
      />
      <div *ngIf="isInvalidAndTouched('firstName')" class="form-control__error">
        <p *ngIf="hasError('firstName')">{{ errorMessage("firstName") }}</p>
      </div>
    </div>

    <div class="form-control">
      <input
        type="text"
        id="lastName"
        placeholder="Last Name"
        class="form-control__input"
        formControlName="lastName"
      />
      <div *ngIf="isInvalidAndTouched('lastName')" class="form-control__error">
        <p *ngIf="hasError('lastName')">{{ errorMessage("lastName") }}</p>
      </div>
    </div>

    <div class="form-control">
      <input
        type="email"
        id="email"
        placeholder="Email"
        class="form-control__input"
        formControlName="email"
      />
      <div *ngIf="isInvalidAndTouched('email')" class="form-control__error">
        <p *ngIf="hasError('email')">
          {{ errorMessage("email") }}
        </p>
      </div>
    </div>

    <div class="form-control">
      <input
        type="password"
        id="password"
        placeholder="Password"
        class="form-control__input"
        formControlName="password"
      />
      <div *ngIf="isInvalidAndTouched('password')" class="form-control__error">
        <p *ngIf="hasError('password')">{{ errorMessage("password") }}</p>
      </div>
    </div>

    <div class="form-control">
      <input
        type="password"
        id="confirmPassword"
        placeholder="Confirm Password"
        class="form-control__input"
        formControlName="confirmPassword"
      />
      <div
        *ngIf="isInvalidAndTouched('confirmPassword')"
        class="form-control__error"
      >
        <p *ngIf="hasError('confirmPassword')">
          {{ errorMessage("confirmPassword") }}
        </p>
      </div>
    </div>

    <button
      type="submit"
      class="btn btn--with-shadow btn--auth"
      [ngClass]="{ 'btn--disabled': !signupForm.valid || isLoading }"
    >
      Sign Up
    </button>
  </form>

  <div class="error-message">
    <p class="error-message__text">Error occurred</p>
  </div>
</app-auth-form-container>
