@import "../../../styles.scss";

.signup {
  min-height: calc(100vh - 6.3rem);

  .signup-container {
    @include flex(3rem, column);
    padding-top: 5rem;

    @media (max-width: 35rem) {
      padding-top: 3rem;
    }
  }

  &__heading {
    font-size: 3rem;
  }

  .signup-form {
    border: $border-width-sm solid $color-black;
    border-radius: $border-radius-sm;
    padding: 4rem 3.5rem;
    width: 50rem;
    max-width: 100rem;

    @media (max-width: 35rem) {
      width: 100%;
      padding: 3rem 2rem;
    }

    &__field {
      @include flex(0.5rem, column, flex-start, flex-start);
    }

    &__input {
      width: 100%;
      margin-bottom: 1.8rem;
      padding: 1.3rem 0.5rem;
      border: 0.1rem solid $color-gray;
      border-radius: $border-radius-sm;

      &:focus {
        outline: none;
      }
    }
  }

  .btn--signup {
    margin-top: 1rem;
    width: 100%;
  }
}
