<app-auth-form-container authHeading="Sign Up">
  <form class="form" [formGroup]="signupForm" (submit)="onSubmit()">
    <input
      type="text"
      id="firstName"
      placeholder="First Name"
      class="input"
      formControlName="firstName"
    />
    <div *ngIf="isInvalidAndTouched('firstName')" class="input__error">
      <p *ngIf="hasError('firstName')">{{ errorMessage("firstName") }}</p>
    </div>

    <input
      type="text"
      id="lastName"
      placeholder="Last Name"
      class="input"
      formControlName="lastName"
    />
    <div *ngIf="isInvalidAndTouched('lastName')" class="input__error">
      <p *ngIf="hasError('lastName')">{{ errorMessage("lastName") }}</p>
    </div>

    <input
      type="text"
      id="email"
      placeholder="Email"
      class="input"
      formControlName="email"
    />
    <div *ngIf="isInvalidAndTouched('email')" class="input__error">
      <p *ngIf="hasError('email')">{{ errorMessage("email") }}</p>
    </div>

    <input
      type="password"
      id="password"
      placeholder="Password"
      class="input"
      formControlName="password"
    />
    <div *ngIf="isInvalidAndTouched('password')" class="input__error">
      <p *ngIf="hasError('password')">{{ errorMessage("password") }}</p>
    </div>

    <input
      type="password"
      id="confirmPassword"
      placeholder="Confirm Password"
      class="input"
      formControlName="confirmPassword"
    />
    <div *ngIf="isInvalidAndTouched('password')" class="input__error">
      <p *ngIf="hasError('confirmPassword')">
        {{ errorMessage("confirmPassword") }}
      </p>
    </div>

    <button type="submit" class="btn btn--with-shadow btn--auth">
      Sign Up
    </button>
  </form>
</app-auth-form-container>
