@import "../utils/mixins";
@import "../utils/variables";

%flex-layout {
  display: flex;
  justify-content: center;
  align-items: center;
}

%absolute-position {
  position: absolute;
  top: 0;
  left: 0;
}

%link-default {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

%form {
  border: $border-width-sm solid $color-black;
  border-radius: $border-radius-sm;
  padding: 4rem 3.5rem;
  width: 50rem;
  max-width: 100rem;

  @media (max-width: 35rem) {
    width: 100%;
    padding: 3rem 2rem;
  }

  .form-control {
    @include form-control;

    &__selector-row {
      @include flex(0, row, space-between);
      width: 100%;

      @media (max-width: 35rem) {
        @include flex(0, column);
      }
    }
  }
}
