@mixin flex(
  $gap: 0,
  $direction: row,
  $justContent: center,
  $alignItems: center
) {
  display: flex;
  justify-content: $justContent;
  align-items: $alignItems;
  flex-direction: $direction;
  gap: $gap;
}

@mixin grid($gap: 0, $columns: 1fr 1fr) {
  display: grid;
  grid-template-columns: $columns;
  gap: $gap;
}

@mixin position($position: absolute, $top: 0, $left: 0) {
  position: $position;
  top: $top;
  left: $left;
}

@mixin overlay($margin-top: 0, $opacity: 0.6) {
  @include position(fixed);
  width: 100vw;
  height: 100vh;
  background-color: darken($color-dark-gray, 60%);
  opacity: $opacity;
  z-index: 8;
  overflow: hidden;
  margin-top: $margin-top;

  @media (min-width: 55rem) {
    display: none;
  }
}

@mixin form-control {
  position: relative;

  &__group {
    @include flex(1.2rem);
    width: 100%;

    @media (max-width: 25rem) {
      @include flex(0, column);
    }
  }

  &__input {
    @include input;
  }

  &__selector {
    @media (max-width: 42rem) {
      width: 100%;
    }
  }

  &__error {
    position: absolute;
    bottom: 0.6rem;
    z-index: 999;
    color: $color-red;
    font-size: 1.3rem;
  }
}

@mixin input {
  width: 100%;
  margin-bottom: 2.5rem;
  padding: 1.3rem 1rem;
  border-radius: $border-radius-sm;
  border: none;
  outline: 0.1rem solid $color-gray;
  outline-offset: -0.1rem;

  &:focus {
    outline: 0.2rem solid $color-blue;
    outline-offset: -0.2rem;
  }
}

@mixin truncateText($width) {
  width: $width;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
