$color-white: #fefeff;
$color-blue: #3f51b5;
$color-pink: #ff90e8;
$color-black: #000;
$color-gray: #9a9aa0;
$color-red: #f6223b;
$color-green: #52be21;
$color-dark-gray: #202020;

$border-width-sm: 0.2rem;
$border-width-md: 0.3rem;

$border-radius-sm: 0.4rem;
