@import "../../../styles.scss";

.form-control {
  @include form-control;
  position: relative;
}

.visibility-icon {
  @include flex;
  cursor: pointer;
  position: absolute;
  opacity: 0.65;
  top: 2.1rem;
  right: 1.2rem;
  font-size: 1.9rem;
  transform: translateY(-50%);
}
