<div class="form-control">
  <mat-icon
    *ngIf="inputType === 'password'"
    class="visibility-icon"
    (click)="togglePasswordVisibility()"
    [ngStyle]="getErrorStyle()"
    >{{ passwordIsHidden ? "visibility_off" : "visibility" }}</mat-icon
  >

  <input
    [type]="
      inputType === 'password' && passwordIsHidden ? 'password' : getInputType()
    "
    [id]="formControlName"
    [placeholder]="placeholder"
    [class]="isInvalidAndTouched() ? 'input input--invalid' : 'input'"
    [value]="value"
    (input)="onInputChange($event)"
    (blur)="onInputTouch()"
    [min]="inputType === 'number' ? 0 : ''"
  />
  <div *ngIf="isInvalidAndTouched()" class="form-control__error">
    <p *ngIf="!!getFormControl().errors">
      {{ errorMessage() }}
    </p>
  </div>
</div>
