@import "./styles/components/btn";
@import "./styles/utils/mixins";
@import "./styles/utils/variables";
@import "./styles/utils/helpers";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: $color-white;
  font-size: 1.6rem;
  color: $color-black;
}
