<section class="vacancies">
  <app-flash-message
    [messageText]="error"
    messageType="error"
    *ngIf="error"
  ></app-flash-message>

  <div class="vacancies__container">
    <app-vacancies-filter
      [filterbarIsShown]="filterbarIsShown"
      (sidebarClosed)="setFilterbarIsShown(false)"
    ></app-vacancies-filter>

    <div class="vacancies__main-content">
      <div class="vacancies__header">
        <mat-icon
          (click)="setFilterbarIsShown(true)"
          class="vacancies__filter-icon"
          >filter_list</mat-icon
        >

        <form
          class="vacancies__search"
          [formGroup]="searchForm"
          (submit)="onSubmit()"
        >
          <mat-icon>search</mat-icon>
          <input
            type="text"
            class="vacancies__search__input"
            placeholder="Search"
            formControlName="jobTitle"
          />
        </form>

        <div class="vacancies__fetch-all" (click)="fetchAllVacancies()">
          All vacancies
        </div>
      </div>

      <app-vacancies-list></app-vacancies-list>
    </div>
  </div>
</section>
