@import "../../../styles.scss";

.details {
  &__heading-container {
    border-bottom: $border-width-sm solid $color-black;
    background-color: lighten($color-blue, 43%);
    padding: 4.5rem 0;

    @media (max-width: 65rem) {
      padding: 3.5rem 2rem;
    }
  }

  &__heading {
    width: 70vw;
    margin: 0 auto;

    @media (max-width: 65rem) {
      width: 100%;
    }
  }

  &__badges {
    @include flex(0.8rem, row, flex-start);
    flex-wrap: wrap;
    font-size: 1.2rem;
    color: $color-dark-gray;
    margin-top: 1rem;

    &__badge {
      background-color: $color-white;
      border: 0.1rem solid lighten($color-gray, 20%);
      padding: 0.6rem 1.5rem;
      border-radius: 3rem;
    }
  }

  &__job-title {
    margin-bottom: 0.2rem;
    font-size: 3rem;
    word-break: break-all;
  }

  &__location {
    @include flex(0, row, flex-start);
  }

  &__location-text {
    transform: translateX(-0.65rem);
  }

  &__location-icon {
    @include flex;
    font-size: 1.9rem;
    transform: translateX(-0.5rem);
  }

  &__content {
    @include flex(0, row, space-between, flex-start);
    width: 70vw;
    margin: 0 auto;
    padding: 3rem 0;

    @media (max-width: 65rem) {
      @include flex(2.5rem, column, space-between, flex-start);
      width: 100%;
      padding: 3rem 2rem;
    }
  }

  &__description {
    width: 55%;
    white-space: pre-wrap;
    word-break: break-all;

    @media (max-width: 65rem) {
      width: 100%;
    }

    &__title {
      font-size: 2rem;
      font-weight: normal;
      margin-bottom: 1.5rem;
    }
  }

  &__more-info {
    @include flex(1.5rem, column, flex-start, flex-start);
    width: 40%;
    text-align: start;
    background-color: lighten($color-blue, 50%);
    border: 0.1rem solid lighten($color-blue, 44%);
    padding: 2rem 2.5rem 2rem 2.5rem;
    border-radius: 0.6rem;

    @media (max-width: 65rem) {
      width: 100%;
    }

    &__title {
      font-size: 2rem;
      font-weight: normal;
      margin-bottom: 0.8rem;
    }

    &__block {
      @include flex(1rem, row, flex-start);
    }

    &__block-content {
      @include flex(0.5rem, column, flex-start, flex-start);
      color: lighten($color-dark-gray, 20%);
    }

    &__block-icon {
      color: lighten($color-dark-gray, 30%);
    }

    &__block-text {
      word-break: break-all;
      color: $color-blue;
      font-weight: bold;
    }
  }

  .loading-spinner {
    display: block;
    text-align: center;
    margin: 0 auto;
  }
}
