<main class="home">
  <app-hero></app-hero>

  <section class="vacancies">
    <div class="vacancies__header">
      <h2 class="vacancies__title">Latest Vacancies</h2>

      <div class="vacancies__view-all">
        <mat-icon>arrow_right_alt</mat-icon>
        <a class="vacancies__view-all__link" routerLink="/vacancies"
          >View All</a
        >
      </div>
    </div>

    <app-loading-spinner
      *ngIf="isLoading"
      class="vacancies__loading-spinner"
    ></app-loading-spinner>

    <div class="vacancies__list">
      <app-vacancy-card
        *ngFor="let vacancy of vacancies"
        [vacancy]="vacancy"
      ></app-vacancy-card>
    </div>
  </section>
</main>
