@import "../../styles.scss";

.home {
  padding: 0 2rem 9rem 2rem;

  @media (max-width: 86rem) {
    padding-bottom: 9rem;
  }

  @media (max-width: 46rem) {
    padding: 0 0 9rem 0;
  }
}

.vacancies {
  width: 65vw;
  max-width: 180rem;
  margin: 0 auto;
  margin-top: 7rem;

  @media (max-width: 65rem) {
    width: 100%;
  }

  &__header {
    @include flex(1.8rem, row, space-between);
    margin-bottom: 2.8rem;
  }

  &__title {
    font-size: 4rem;

    @media (max-width: 46rem) {
      font-size: 2.6rem;
    }
  }

  &__view-all {
    font-size: 1.9rem;
    cursor: pointer;
    @extend %flex-layout;

    &:hover {
      border-bottom: $border-width-sm solid $color-blue;
      color: $color-blue;
    }

    &__link {
      @extend %link-default;
    }
  }

  &__list {
    @include grid(4rem, 1fr 1fr);

    @media (max-width: 46rem) {
      grid-template-columns: 1fr;
    }
  }
}
