@import "../../../styles.scss";

.my-vacancies {
  &__container {
    width: 70vw;
    margin: 0 auto;
    padding: 3rem 0;
    max-width: 160rem;

    @media (max-width: 46rem) {
      width: 100%;
      padding: 3rem 2rem;
    }
  }

  &__header {
    @include flex(0, row, space-between);
    margin-bottom: 2rem;

    @media (max-width: 26rem) {
      @include flex(1rem, column, space-between, flex-start);
    }
  }

  &__filters {
    @include flex(1.2rem);
    font-size: 1.7rem;
  }

  &__filter {
    cursor: pointer;

    &:hover {
      color: $color-blue;
      border-bottom: 0.2rem solid $color-blue;
    }
  }

  .active {
    color: $color-blue;
    border-bottom: 0.2rem solid $color-blue;
  }

  &__list {
    @include grid(2rem);
    position: relative;

    @media (max-width: 50rem) {
      @include grid(2rem, 1fr);
    }
  }

  &__no-vacancies {
    @include flex(1rem);
    text-align: center;
  }

  &__no-vacancies-link {
    cursor: pointer;
    color: $color-blue;
    text-decoration: underline;
  }

  &__loading-spinner {
    @include flex;
  }
}
