<app-flash-message
  [messageText]="error"
  messageType="error"
  *ngIf="error"
></app-flash-message>

<section class="my-vacancies">
  <div class="my-vacancies__container">
    <div class="my-vacancies__header">
      <h1>My Vacancies</h1>

      <div class="my-vacancies__filters" *ngIf="currentUserRole === 'user'">
        <span
          class="my-vacancies__filter"
          [ngClass]="{ active: myVacanciesStatus === 'all' }"
          (click)="getMyVacanciesWithStatus('all')"
          >All</span
        >
        <span
          class="my-vacancies__filter"
          [ngClass]="{ active: myVacanciesStatus === 'pending' }"
          (click)="getMyVacanciesWithStatus('pending')"
          >Pending</span
        >
        <span
          class="my-vacancies__filter"
          [ngClass]="{ active: myVacanciesStatus === 'approved' }"
          (click)="getMyVacanciesWithStatus('approved')"
          >Approved</span
        >
      </div>
    </div>

    <div
      *ngIf="myVacancies.length == 0 && !isLoading"
      class="my-vacancies__no-vacancies"
    >
      <span class="my-vacancies__no-vacancies_text">No vacancies.</span>
      <a
        routerLink="/vacancies/add"
        routerLinkActive="router-link-active"
        class="my-vacancies__no-vacancies-link"
        >Add</a
      >
    </div>

    <app-loading-spinner
      *ngIf="isLoading"
      class="my-vacancies__loading-spinner"
    ></app-loading-spinner>

    <div class="my-vacancies__list" *ngIf="myVacancies && !isLoading">
      <app-vacancy-card
        *ngFor="let vacancy of myVacancies"
        [vacancy]="vacancy"
      ></app-vacancy-card>
    </div>
  </div>
</section>
