@import "../../../styles.scss";

.my-vacancies {
  &__container {
    width: 70vw;
    margin: 0 auto;
    padding: 3rem 0;
  }

  &__heading {
    margin-bottom: 2rem;
  }

  &__list {
    @include grid(2rem);
  }

  &__no-vacancies {
    @include flex(1rem);
    text-align: center;
  }

  &__no-vacancies-link {
    cursor: pointer;
    color: $color-blue;
    text-decoration: underline;
  }
}
